.scroll {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1080px) {
  .scroll {
    display: block;
    overflow-y: scroll;
  }
}

.container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1080px) {
  .container {
    height: fit-content;
  }
}

.top {
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding: 48px 72px 0 72px;
  opacity: .7;
}

@media screen and (max-width: 1080px) {
  .top {
    gap: 20px;
    padding: 24px 20px 0 24px;
  }
}

.top p {
  font-weight: 400;
  font-size: 28px;
}

.top div.divider {
  flex: 1;
  height: 1px;
  background-color: rgb(var(--color));
  border-radius: 1px;
}

.top div.language {
  width: 32px;
  height: 32px;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .top p {
    font-size: 20px;
  }
}

.window {
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

@media screen and (max-width: 1080px) {
  .window {
    flex-direction: column;
  }
}

.side {
  padding: 72px;
  padding-right: 0;
  justify-content: space-between;
  gap: 72px;
}

@media screen and (max-width: 1080px) {
  .side {
    padding: 24px;
    padding-top: 48px;
    gap: 48px;
  }
}

.side .mix {
  gap: 48px;
}

.side .header {
  gap: 24px;
}

@media screen and (max-width: 1080px) {
  .side .header {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.side .header img {
  width: 84px;
  height: 84px;
  border-radius: 12px;
}

@media screen and (max-width: 1080px) {
  .side .header img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
  }
}

.side .header div {
  gap: 4px;
}

.side .header div p {
  font-size: 36px;
}

@media screen and (max-width: 1080px) {
  .side .header div p {
    font-size: 28px;
  }
}

.side .header div p:first-child {
  font-weight: 500;

  background: linear-gradient(180deg, rgba(var(--color), 0.40) 0%, rgba(var(--color), 0.80) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side .header div p:last-child {
  font-weight: 700;
  width: 260px;
}

.side .mix .icons {
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 1080px) {
  .side .mix .icons {
    gap: 16px;
  }
}

.side .mix .icon {
  width: 36px;
  height: 36px;
  background-color: rgb(var(--color));
}

@media screen and (max-width: 1080px) {
  .side .mix .icon {
    width: 30px;
    height: 30px;
    mask-size: 30px;
    -webkit-mask-size: 30px;
  }
}

.side .links {
  gap: 16px;
}

.side .links .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.side .links .link .icon {
  width: 20px;
  height: 20px;
  background-color: rgb(var(--color));
}

.side .links .link p {
  font-weight: 400;
  font-size: 16px;
}

.section {
  gap: 24px;
}

@media screen and (max-width: 1080px) {
  .section {
    gap: 12px;
  }
}

.section > .title {
  font-weight: 400;
  font-size: 16px;
  opacity: .5;
}

@media screen and (max-width: 1080px) {
  .section > .title {
    font-size: 14px;
  }
}

.content {
  flex: 1;
  display: block;
  overflow-y: auto;
}

.content .inner {
  padding: 72px;
  gap: 72px;
}

@media screen and (max-width: 1080px) {
  .content .inner {
    padding: 24px;
    padding-bottom: 48px;
    gap: 48px;
  }
}

.content .introduction {
  gap: 24px;
}

@media screen and (max-width: 1080px) {
  .content .introduction {
    gap: 12px;
  }
}

.content .introduction .slogun {
  font-weight: 600;
  font-size: 28px;
}

@media screen and (max-width: 1080px) {
  .content .introduction .slogun {
    font-size: 20px;
  }
}

.content .introduction .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  opacity: .7;
}

@media screen and (max-width: 1080px) {
  .content .introduction .description {
    font-size: 16px;
  }
}

.content .projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 16px;
}

.content .projects.en {
  grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
}

@media screen and (max-width: 800px) {
  .content .projects {
    display: flex;
  }
}

.content .projects .project {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(var(--border));
  overflow: hidden;
}

.content .projects .project .preview {
  padding-top: 56.25%;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .projects .project .info {
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 12px;
}

@media screen and (max-width: 1080px) {
  .content .projects .project .info {
    padding: 14px;
  }
}

.content .projects .project .info .thumbnail {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1080px) {
  .content .projects .project .info .thumbnail {
    width: 46px;
    height: 46px;
  }
}

.content .projects .project .info .text {
  gap: 8px;
}

.content .projects .project .info .name {
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 1080px) {
  .content .projects .project .info .name {
    font-size: 16px;
  }
}

.content .projects .project .info .description {
  font-weight: 400;
  font-size: 16px;
  opacity: .7;
}

@media screen and (max-width: 1080px) {
  .content .projects .project .info .description {
    font-size: 14px;
  }
}

.content .awards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 800px) {
  .content .awards {
    display: flex;
  }
}

.content .awards .award {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(var(--border));
  padding: 20px;
}

@media screen and (max-width: 1080px) {
  .content .awards .award {
    padding: 14px;
  }
}

.content .awards .award .name {
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 1080px) {
  .content .awards .award .name {
    font-size: 18px;
  }
}

.content .awards .award .description {
  flex-direction: row;
  gap: 8px;
}

.content .awards .award .description > p {
  font-weight: 400;
  font-size: 16px;
  opacity: .7;
}

@media screen and (max-width: 1080px) {
  .content .awards .award .description > p {
    font-size: 14px;
  }
}

.content .awards .award .description .divider {
  opacity: .2;
}