@import url(https://fonts.2w.vc/pretendard/static/font.css);

:root {
  --background: 255, 255, 255;
  --color: 45, 45, 45;
  --border: 230, 230, 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 20, 20, 20;
    --color: 212, 212, 212;
    --border: 40, 40, 40;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--border)) #00000000;
}
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}
*::-webkit-scrollbar-track:hover {
  background-color: #00000000;
}
*::-webkit-scrollbar-track:active {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(var(--border));
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--border));
}
*::-webkit-scrollbar-thumb:active {
  background-color: rgb(var(--border));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Pretendard', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: rgb(var(--background));
  color: rgb(var(--color));
}

div {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: unset;
}
